* {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */


.logo {
    margin: 32px 315px 58px 20px;
}

.form {
    width: 100%;
    max-width: 375px;
}

.container-title-text {
    margin: 0 20px 40px 20px;
}

.title {
    font-size: 24px;
    line-height: 30px;
    color: #333;
}

.text {
    margin-top: 8px;
    font-size: 16px;
    line-height: 24px;
    color: #333;
}

.desc {
    display: flex;
    margin: 0 20px 25px 20px;
    /* padding: 13px 12px 13px 16px; */
    border-radius: 8px;
    background-color: rgba(50, 88, 251, 0.2);
}

.icon-link {
    margin: 25px 14px 25px 18px;
}

.desc-text {
    margin: 13px 12px 13px 0;
    font-size: 14px;
    line-height: 22px;
}

.container-label {
    margin: 0 20px;
}

.field-item {
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    position: relative;
    border: 1px solid #919EAB;
    border-radius: 8px;
}

.field-item input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    position: absolute;
    border: none;
    outline: none;
    background-color: transparent;
    bottom: 0;
}

.field-item span {
    position: absolute;
    color: #919EAB;
    top: 17px;
    left: 15px;
    font-weight: 500;
    transition: 0.2s;
    cursor: text;
}

.field-item input:focus + span,
.field-item input:valid + span {
    top: -8px;
    left: 10px;
    background: #fff;
    font-size: 12px;
    padding: 0 7px;
}



span {
    font-size: 14px;
}

.link_reset_password {
    margin-left: 76px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #3258FB;
}

.btn {
    margin-top: 25px;
    padding: 11px 146px;
    font-weight: bold;
    color: #fff;
    background-color: #3258FB;
    border-radius: 8px;
}

.text_register {
    margin-top: 24px;
    font-size: 14px;
    text-align: center;
}

.link_register {
    margin-left: 5px;
    text-decoration: none;
    font-weight: bold;
    color: #3258FB;
}