* {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
}





/* ------------------------------------------------------------------------------------------------------------------------------------------ */

    .logo {
        margin-top: 32px;
        margin-left: 20px;
    }

    .register {
        margin: 60px 20px;
    }

    .title {
        font-size: 24px;
    }

    .paragraph {
        margin-right: 40px;
        font-size: 16px;
        line-height: 20.px;
    }

.form {
    margin: 0 20px;
}
    
.field-item {
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    position: relative;
    border: 1px solid #919EAB;
    border-radius: 8px;
}

.field-item input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    position: absolute;
    border: none;
    outline: none;
    background-color: transparent;
    bottom: 0;
}

.field-item span {
    position: absolute;
    color: #919EAB;
    top: 17px;
    left: 15px;
    font-weight: 500;
    transition: 0.2s;
    cursor: text;
}

.field-item input:focus + span,
.field-item input:valid + span {
    top: -8px;
    left: 10px;
    background: #fff;
    font-size: 12px;
    padding: 0 7px;
}


    .privacy-policy {
        margin: 0 20px;
        width: 335px;
        font-size: 14px;
        text-align: center;
        color: gray;
    }

    .come {
        margin: 20px 102px;
        font-size: 14px;
    }
