* {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
}

/* ---------------------------------------------------------------------------------------------------------------------------------- */

.logo {
    margin: 32px 315px 142px 20px;
}

.reset-password {
    margin: 0 20px;
}

.title {
    font-size: 24px;
}

.text {
    margin-top: 16px;
    width: 335px;
    font-size: 16px;
    line-height: 24px;
}

.form {
    margin: 35px 20px;
}

.field-item {
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    position: relative;
    border: 1px solid #919EAB;
    border-radius: 8px;
}

.field-item input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    position: absolute;
    border: none;
    outline: none;
    background-color: transparent;
    bottom: 0;
}

.field-item span {
    position: absolute;
    color: #919EAB;
    top: 17px;
    left: 15px;
    font-weight: 500;
    transition: 0.2s;
    cursor: text;
}

.field-item input:focus + span,
.field-item input:valid + span {
    top: -8px;
    left: 10px;
    background: #fff;
    font-size: 12px;
    padding: 0 7px;
}



span {
    font-size: 14px;
}

.link_reset_password {
    margin-left: 76px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #3258FB;
}

.btn {
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 11px 22px;
    width: 350px;
    font-size: 15px;
    line-height: 26px;
    color: #fff;
    background-color: #3258FB;
    border-radius: 8px;
}

.link {
    display: block;
    text-align: center;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    line-height: 26px;
}